<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/style/main.css" />
  </head>
  <body>
<script>
    var fbid = '287745697930531';
    window.fbAsyncInit = function() {
      FB.init({
        appId      : fbid, // App ID from the App Dashboard
        status     : true, // check the login status upon init?
        cookie     : true, // set sessions cookies to allow your server to access the session?
        xfbml      : true  // parse XFBML tags on this page?
      });
      FB.getLoginStatus(function(response) {
        if (response.status === 'connected') {
          alert('connected');// connected
        } else if (response.status === 'not_authorized') {
          // not_authorized
          login();
        } else {
          // not_logged_in
          login();
        }
       });
      // Additional initialization code such as adding Event Listeners goes here

    };

    // Load the SDK's source Asynchronously
    (function(d){
       var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement('script'); js.id = id; js.async = true;
       js.src = "//connect.facebook.net/en_US/all.js";
       ref.parentNode.insertBefore(js, ref);
     }(document));
     
     function login() {
      alert('Trying to login');
      FB.login(function(response) {
          if (response.authResponse) {
              // connected
              testAPI();
          } else {
              // cancelled
          }
      });
    }
    
    function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
        console.log('Good to see you, ' + response.name + '.');
    });
    FB.ui(
    {
     method: 'feed',
     name: 'The Facebook SDK for Javascript',
     caption: 'Bringing Facebook to the desktop and mobile web',
     description: (
        'A small JavaScript library that allows you to harness ' +
        'the power of Facebook, bringing the user\'s identity, ' +
        'social graph and distribution power to your site.'
     ),
     link: 'https://developers.facebook.com/docs/reference/javascript/',
     picture: 'http://www.fbrell.com/public/f8.jpg'
    },
    function(response) {
      if (response && response.post_id) {
        alert('Post was published.');
      } else {
        alert('Post was not published.');
      }
    }
  );
    }

  </script>  
    <h1><img src="/images/photoID.jpg" alt="me" width="20"height="20">Login and leave a message below, Thanks!</h1>
    {% for greeting in greetings %}
      {% if greeting.author %}
        <b>{{ greeting.author }}</b> wrote:
      {% else %}
        An anonymous person wrote:
      {% endif %}
      <blockquote>{{ greeting.content|escape }}</blockquote>
    {% endfor %}

    <form action="/sign" method="post">
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Sign Guestbook"></div>
    </form>

    <a href="{{ url }}">{{ url_linktext }}</a>
    <div id="fb-root"></div>
  </body>
</html>
