/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		font-size: 11pt;
		min-width: 1000px;
	}

/*********************************************************************************/
/* Info box                                                                      */
/*********************************************************************************/

		#info:before {
			content: '';
			position: absolute;
			left: 192px;
			top: 27px;
			border-left: 13px solid #ccc;
			border-right: 15px solid transparent;
			border-top: 30px solid #ccc;
			border-bottom: 30px solid transparent;
			z-index: 10;
		}
		#info:after {
			content: '';
			position: absolute;
			left: 190px;
			top: 28px;
			border-left: 16px solid #FFDF33;
			border-right: 16px solid transparent;
			border-top: 33px solid #FFDF33;
			border-bottom: 33px solid transparent;
		}


/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	.wrapper
	{
		padding: 5em 0 5em 0;
		text-align: center;
	}
	
		.wrapper-first
		{
			padding-top: 9em;
		}

		.wrapper-style4 .row-special
		{
			margin: 2em 0 0 0;
			padding: 2em 0 2em 0;
		}

/*********************************************************************************/
/* Articles                                                                      */
/*********************************************************************************/

	#top
	{
	}

		#top .me
		{
			width: 19.5em;
			height: 19.5em;
			margin: 0;
		}