{% extends "base.html" %}

{% block title %}Astrocyte networks{% endblock %}

{% block header %}Neuron-astrocyte learning networks{% endblock %}

      
{% block content %}
          <div class="row ">
              <div id="info_content" class="12u box-style3 transition"></div>
              <div id="what" class="hide box-style3 transition">
                <h2>What?</h2>
                  <p>For my final year project I created one of the first ever computational models of a learning neuron-astrocyte network. Contrary to popular belief, neurons are not the only cells in the brain which perform learning and cognitive functions. For decades, artificial intelligence researchers have made computational models of neural networks but failed to acknowledge the role of astrocytes. My work presents a novel model of neuron-astrocyte networks and challenges one of the pioneering neuron-astrocyte network models.</p>
                </div>
                <div id="why" class="hide box-style3 transition">
                <h2>Why?</h2>
                  <p>
                    While on placement in Spain, I was researching the role of astrocytes in Alzheimer's disease. I was fascinated by the fact that their abundance and diversity is proportional to intelligence. At the time I was also curious about artificial intelligence (AI) and was intrigued to see how AI researchers had modelled astrocytes. Suprisingly, few researchers had made computational models of astrocytes, and so my project began. 
                  </p>
                </div>
              <div id="links" class="hide box-style3 transition">
                <h2>Links</h2>
                  <div class="5grid 5grid-container">
                    <div class="row">
                      <div class="4u">
                        <section class="box box-style1">
                          <a target="_blank" href="/files/lit_review.pdf"><span class="panel-link"></span></a>
                          <span class="icon featured-icon icon-file-alt"></span>
                            <h3>Literature review</h3>
                            <p>For a comprehensive review of the current literature on the role of astrocytes in information processing and synaptic plasticity see <a href="/files/lit_review.pdf">this review</a> I have written.</p>
                        </section>
                      </div>
                      
                      <div class="4u">
                          <section class="box box-style1">
                            <a target="_blank" href="/files/write_up.pdf"><span class="panel-link"></span></a>
                            <span class="icon featured-icon icon-bar-chart"></span>
                            <h3>Project write up</h3>
                            <p>To see the full write up of the experiments I performed and full details of the model I have made see <a href="/files/write_up.pdf">this pdf</a>.</p>
                          </section>
                      </div>
                      
                      <div class="4u">
                        <section class="box box-style1">
                          <a target="_blank" href="https://github.com/mfbx9da4/neuron-astrocyte-networks"><span class="panel-link"></span></a>
                          <span class="icon featured-icon icon-github"></span>
                          <h3>Source code</h3>
                          <p>For the source code of the implementation of my model and the Porto-Pazos model, please find the source code <a href="http://github.com/mfbx9da4/neuron-astrocyte-networks">here on github</a>.</p>
                        </section>
                      </div>
                    </div>
                  </div>
                  
              </div>
          </div>
{% endblock %}
        





