{% extends "portfolio-base.html" %}

{% block title %}Open blog{% endblock %}

{% block header %}Open blog{% endblock %}

      
{% block portfolio %}
          <div class="row ">
              <div id="info_content" class="12u box-style3 transition"></div>
              <div id="what" class="hide box-style3 transition">
                <h2>What?</h2>
                  <p>
                  	A blog I made as part of an online MOOC course I did at udacity. It demonstrates the following funcitonalities I learned to implement: 
                  </p>
                  <p>
                    <ol style="text-align: left; text-indent: 2em">
                      <li><span class="icon icon-check" /> Basics of HTTP requests.</li>
                      <li><span class="icon icon-check" /> Form validation, escaping HTML.</li>
                      <li><span class="icon icon-check" /> Databases, SQL, db queries.</li>
                      <li><span class="icon icon-check" /> Authentication, password hashing, cookies.</li>
                      <li><span class="icon icon-check" /> APIs, parsing JSON, XML.</li>
                      <li><span class="icon icon-check" /> Scaling, caching and optimizations.</li>
                    </ol>
                  </p>
                  <p>
                    When looking at the source code, files with the prefix <span class="quote">blog</span> indicate they are part of this blog.
                  </p>
                </div>
                <div id="why" class="hide box-style3 transition">
                <h2>Why?</h2>
                  <p>
                    For learning purposes.
                  </p>
                </div>
              <div id="links" class="hide box-style3 transition">
                <h2>Links</h2>
                  <div class="5grid 5grid-container">
                    <div class="row">                      
                      <div class="-2u 4u">
                        <section class="box box-style1">
                          <a target="_blank" href="/blog"><span class="panel-link"></span></a>
                          <span class="icon featured-icon icon-certificate"></span>
                          <h3>Blog</h3>
                        </section>
                      </div>
                    <div class=" 4u">
                        <section class="box box-style1">
                          <a target="_blank" href="https://github.com/mfbx9da4/davidadlersapp"><span class="panel-link"></span></a>
                          <span class="icon featured-icon icon-github"></span>
                          <h3>Source code</h3>
                        </section>
                      </div>
                    </div>
                  </div>
                  
              </div>
          </div>
{% endblock %}
        





