{% extends "portfolio-base.html" %}

{% block title %}Google docs referencing system{% endblock %}

{% block header %}Google docs referencing system{% endblock %}

      
{% block portfolio %}
          <div class="row ">
              <div id="info_content" class="12u box-style3 transition"></div>
              <div id="what" class="hide box-style3 transition">
                <h2>What?</h2>
                  <p>
                  	A blog I made as part of an online MOOC course I did at udacity. 
                  </p>
                </div>
                <div id="why" class="hide box-style3 transition">
                <h2>Why?</h2>
                  <p>
                    For learning purposes.
                  </p>
                </div>
              <div id="links" class="hide box-style3 transition">
                <h2>Links</h2>
                  <div class="5grid 5grid-container">
                    <div class="row">                      
                      <div class="-2u 4u">
                        <section class="box box-style1">
                          <a target="_blank" href="/blog"><span class="panel-link"></span></a>
                          <span class="icon featured-icon icon-github"></span>
                          <h3>Blog</h3>
                        </section>
                      </div>
                    </div>
                    <div class=" 4u">
                        <section class="box box-style1">
                          <a target="_blank" href="https://github.com/mfbx9da4/davidadlersapp"><span class="panel-link"></span></a>
                          <span class="icon featured-icon icon-github"></span>
                          <h3>Source code</h3>
                        </section>
                      </div>
                    </div>
                  </div>
                  
              </div>
          </div>
{% endblock %}
        





