<!DOCTYPE HTML>
<html>
	<head>
		<title>About me: David Adler</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,600,700" rel="stylesheet" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="js/5grid.min.js">{preset:'legacy',prefix:'5grid-style/style',breakpoints:{'desktop':{grid:{gutter:4}}}}</script>
		<noscript><link rel="stylesheet" href="5grid-style/5grid-noscript.min.css" /><link rel="stylesheet" href="5grid-style/style.css" /><link rel="stylesheet" href="5grid-style/style-desktop.css" /></noscript>
		<!--[if lte IE 9]><link rel="stylesheet" href="5grid-style/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="5grid-style/ie8.css" /><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" href="5grid-style/ie7.css" /><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/init.js"></script>
		<style type="text/css">
			#info
			{
				width: 100%;
				background-color: #ffff4c;
				margin: 0 auto;
				border: #FFC61C solid 1px;
				border-radius: 10px;
				text-align: center;
				position: relative;

			}
			#info:after {
				content: '';
				position: absolute;
				left: 190px;
				top: 32px;
				border-left: 16px solid #FFC61C;
				border-right: 16px solid transparent;
				border-top: 33px solid #FFC61C;
				border-bottom: 33px solid transparent;
			}
			#info:before {
				content: '';
				position: absolute;
				left: 192px;
				top: 31px;
				border-left: 13px solid #ffff4c;
				border-right: 15px solid transparent;
				border-top: 30px solid #ffff4c;
				border-bottom: 30px solid transparent;
				z-index: 10;
			}
		</style>
	</head>
	<body>

		<!-- Nav -->
			<nav id="nav">
				<ul>
					<li><a href="#top">Top</a></li>
					<li><a href="#work">About me</a></li>
					<li><a href="#portfolio">Portfolio</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</nav>

		<!-- Home -->
			<div class="wrapper wrapper-style1 wrapper-first">
				<article class="5grid 5grid-container" id="top">
					<div id="info" >Please note, I am doing a bit of renovation at the moment so some of the links might not be ready!</div>
					<br>
					<div class="row">
						<div class="4u">
							<span class="me image image-full"><img src="images/me.jpg" alt="" /></span>
						</div>
						<div class="8u">
							<header>
								<h1>Hi. I'm <strong>David Adler</strong>.</h1>
							</header>
							<p>A graduate <strong>neuroscientist</strong>, enthusiast <strong>programmer</strong> and professional <strong>slackliner</strong>. 
							Welcome to my website.</p>
							<a href="#work" class="button button-big">Learn about what I do</a>
						</div>
					</div>
				</article>
			</div>

		<!-- Work -->
			<div class="wrapper wrapper-style2">
				<article id="work">
					<header>
						<h2>My three passions.</h2>
						<span>(These are the main ones anyway)</span>
					</header>
					<div class="5grid 5grid-container">
						<div class="row">
							<div class="4u">
								<section class="box box-style1">
									<a target="_blank" href="/neuroscience"><span class="panel-link"></span></a>
									<span class="icon featured-icon icon-bar-chart"></span>
									<h3>Neuroscience</h3>
									<p>Most interested in computational and theoretical neuroscience.</p>
								</section>
							</div>
							
							<div class="4u">
									<section class="box box-style1">
										<a href="#portfolio"><span class="panel-link"></span></a>
										<span class="icon featured-icon icon-file-alt"></span>
										<h3>Code</h3>
										<p>I love to code! Most experienced in web dev and machine learning.</p>
									</section>
							</div>
							
							<div class="4u">
								<section class="box box-style1">
									<a target="_blank" href="/slackline"><span class="panel-link"></span></a>
									<span class="icon featured-icon icon-star-empty"></span>
									<h3>Slackline</h3>
									<p>I am currently ranked 4th in the UK in this thriving new sport.</p>
								</section>
							</div>
						</div>
					</div>
					<footer>
						<p>Click <a href='/files/cs2.pdf'>here</a> for a pdf of my CV.</p>
						<a href="#portfolio" class="button button-big">See some of my recent work</a>
					</footer>
				</article>
			</div>

		<!-- Portfolio -->
			<div class="wrapper wrapper-style3">
				<article id="portfolio">
					<header>
						<h2>Portfolio</h2>
						<span>Programming projects.</span>
					</header>
					<div class="5grid 5grid-container">
						<div class="row">
							<div class="12u">
							</div>
						</div>
						<div class="row">
							<div class="4u">
								<article class="box box-style2">
									<a href="/angn"><span class="panel-link"></span></a>
									<a href="/angn" class="image image-full"><img src="images/model_neuron2.png" alt="" /></a>
									<h3>Neuron-astrocyte networks</h3>
									<p>Final year computational neuroscience project.</p>
								</article>
							</div>
							<div class="4u">
								<article class="box box-style2">
									<a href="/imperial"><span class="panel-link"></span></a>
									<a href="/imperial" class="image image-full"><img src="images/imp.png" alt="" /></a>
									<h3>Imperial Homes</h3>
									<p>Estate agent in Kensington.</p>
								</article>
							</div>
							<div class="4u">
								<article class="box box-style2">
									<a href="/pe"><span class="panel-link"></span></a>
									<a href="/pe" class="image image-full"><img src="images/pe.png" alt="" /></a>
									<h3>Project Euler</h3>
									<p>My solutions to miscellaneous maths problems.</p>
								</article>
							</div>
						</div>
						<div class="row">
							<div class="4u">
								<article class="box box-style2">
									<a href="/blog"><span class="panel-link"></span></a>
									<a href="/blog" class="image image-full"><img src="images/portfolio06.jpg" alt="" /></a>
									<h3>Blog</h3>
									<p>A blog I built.</p>
								</article>
							</div>
							<div class="4u">
								<article class="box box-style2">
									<a href="/rhythmludus"><span class="panel-link"></span></a>
									<a href="/rhythmludus" class="image image-full"><img src="images/rhythmludus2.png" alt="" /></a>
									<h3>Rhythmludus</h3>
									<p>HTML5 rhythm game.</p>
								</article>
							</div>
							<div class="4u">
								<article class="box box-style2">
									<a href="/gdocs"><span class="panel-link"></span></a>
									<a href="/gdocs" class="image image-full"><img src="images/drive4.png" alt="" /></a>
									<h3>Google docs referencing system</h3>
									<p>Linked to pubmed API.</p>
								</article>
							</div>

						</div>
					</div>
					<footer>
						<p>Like what you see?</p>
						<a href="#contact" class="button button-big">Get in touch with me</a>
					</footer>
				</article>
			</div>

		<!-- Contact -->
			<div class="wrapper wrapper-style4">
				<article id="contact">
					<header>
						<h2>Want to hire me? Get in touch!</h2>
						<span>Please enter details below.</span>
					</header>
					<div class="5grid">
						<div class="row">
							<div class="12u">
								<form method="post" action="#">
									<div class="5grid">
										<div class="row">
											<div class="6u">
												<input type="text" name="name" id="name" placeholder="Name" />
											</div>
											<div class="6u">
												<input type="text" name="email" id="email" placeholder="Email" />
											</div>
										</div>
										<div class="row">
											<div class="12u">
												<input type="text" name="subject" id="subject" placeholder="Subject" />
											</div>
										</div>
										<div class="row">
											<div class="12u">
												<textarea name="message" id="message" placeholder="Message"></textarea>
											</div>
										</div>
										<div class="row">
											<div class="12u">
												<a href="#" class="button form-button-submit">Send Message</a>
												<a href="#" class="button button-alt form-button-reset">Clear Form</a>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="row row-special">
							<div class="12u">
								<h3>Find me on ...</h3>
								<ul class="social">
									<!-- <li class="twitter"><a href="http://twitter.com/n33co" class="icon icon-twitter"><span>Twitter</span></a></li> -->
									<li class="facebook"><a href="http://www.facebook.com/davidadlerfb" class="icon icon-facebook"><span>Facebook</span></a></li>
									<li class="linkedin"><a href="http://www.linkedin.com/" class="icon icon-linkedin"><span>LinkedIn</span></a></li>
									<!-- <li class="googleplus"><a href="#" class="icon icon-google-plus"><span>Google+</span></a></li> -->
									<li class="github"><a href="http://github.com/mfbx9da4" class="icon icon-github"><span>Github</span></a></li>
									<!--
									<li class="rss"><a href="#" class="icon icon-rss"><span>RSS</span></a></li>
									<li class="instagram"><a href="#" class="icon icon-instagram"><span>Instagram</span></a></li>
									<li class="foursquare"><a href="#" class="icon icon-foursquare"><span>Foursquare</span></a></li>
									<li class="skype"><a href="#" class="icon icon-skype"><span>Skype</span></a></li>
									<li class="soundcloud"><a href="#" class="icon icon-soundcloud"><span>Soundcloud</span></a></li>
									<li class="youtube"><a href="#" class="icon icon-youtube"><span>YouTube</span></a></li>
									<li class="blogger"><a href="#" class="icon icon-blogger"><span>Blogger</span></a></li>
									<li class="flickr"><a href="#" class="icon icon-flickr"><span>Flickr</span></a></li>
									<li class="vimeo"><a href="#" class="icon icon-vimeo"><span>Vimeo</span></a></li>
									-->
								</ul>
							</div>
						</div>
					</div>
					<footer>
						<p id="copyright">
						&copy; 2012 Untitled | Design: <a href="http://html5up.net/">HTML5 UP</a> and <a href="#top">Me (David Adler)</a>
						</p>
					</footer>
				</article>
			</div>


	</body>
</html>