{% extends base.html %}

1. jeff hawkins TED
	somebody who challenges convention in how we think

2. wind turbine guy
	anyone can do it, learning can let you achieve amazing things

3. game dev dude who got brain tumor and made lecture to young child
	there are good people in the world

4. richard buckland
	a good person, my greatest teacher

5. blog about palliative care nurse
	don't work too hard, I can work too hard... in the word of prince buster

6. skyliner trailer ... 
	guy quit his job in it, they look happy, arent they totally against what everyone advises but havent they got it all right?
	treehouse people of the jungle

7. Will Smith motivational speech
	work harder than anyone else and you will get there (contradicts palliative nurse)

8. 


