{% extends "portfolio-base.html" %}

{% block title %}Astrocyte networks{% endblock %}

{% block header %}Neuron-astrocyte learning networks{% endblock %}

      
{% block portfolio %}
          <div class="row ">
              <div id="info_content" class="12u box-style3 transition"></div>
              <div id="what" class="hide box-style3 transition">
                <h2>What?</h2>
                  <p>In their words:</p>
                  <div class="quote">
                    <span class="icon icon-quote-left"></span> <a href="http://projecteuler.net/problems">Project Euler</a> is a series of challenging mathematical/computer programming problems that will require more than just mathematical insights to solve. Although mathematics will help you arrive at elegant and efficient methods, the use of a computer and programming skills will be required to solve most problems. <span class="icon icon-quote-right"></span>
                  </div>
                  <br>
                  <p>To give an example here is one of the probems I found very interesting:</p>
                  <img src="/images/pe_15.png" />
                  <br>
                  <p>To see my progress please add me as a friend on <a href="http://projecteuler.net/problems">project euler</a>, my name is <span class="quote">mfbx9da4</span>. At the moment (6th September 2013) my progress looks like this:</p>
                  <img src="/images/pe_progress.png" />
                </div>
                <div id="why" class="hide box-style3 transition">
                <h2>Why?</h2>
                  <p>
                    Just for fun!
                  </p>
                </div>
              <div id="links" class="hide box-style3 transition">
                <h2>Links</h2>
                  <div class="5grid 5grid-container">
                    <div class="row">
                      <div class="-2u 4u">
                          <section class="box box-style1">
                            <a target="_blank" href="http://projecteuler.net/problems"><span class="panel-link"></span></a>
                            <span class="icon featured-icon icon-coffee"></span>
                            <h3>Project Euler</h3>
                          </section>
                      </div>
                      
                      <div class="4u">
                        <section class="box box-style1">
                          <a target="_blank" href="https://github.com/mfbx9da4/pe"><span class="panel-link"></span></a>
                          <span class="icon featured-icon icon-github"></span>
                          <h3>My solutions</h3>
                        </section>
                      </div>
                    </div>
                  </div>
                  
              </div>
          </div>
{% endblock %}
        





