{% extends "portfolio-base.html" %}

{% block title %}Rhythmludus{% endblock %}

{% block header %}Rhythmludus{% endblock %}

      
{% block portfolio %}
          <div class="row ">
              <div id="info_content" class="12u box-style3 transition"></div>
              <div id="what" class="hide box-style3 transition">
                <h2>What?</h2>
                  <p>Rhythmludus is an educational game to teach users rhythm. The game is built using HTML5 canvas element and a lot of javascript. The game is currently unfinished but we hope to launch v1 around October.</p>
                  <p>This game is being cobuilt by me and my friend <a href="https://github.com/jessie93">Jessie</a>.</p>
                </div>
                <div id="why" class="hide box-style3 transition">
                <h2>Why?</h2>
                  <p>
                     I have been trying to learn how to play an Egyptian hand drum called a <a href="http://www.youtube.com/watch?v=abUAzg9PR9Y">darbuka</a>. I found it hard to learn new rhythms, harder to make up new rhythms and hardest to play in time with other people or songs. I thought a guitar-hero like interface may simplify the learning process and so we started coding ...
                  </p>
                </div>
              <div id="links" class="hide box-style3 transition">
                <h2>Links</h2>
                  <div class="5grid 5grid-container">
                    <div class="row">
                      <div class="4u">
                        <section class="box box-style1">
                          <a target="_blank" href="http://rhythmludus.appspot.com/game?song=song_one_track_low.xml&back=file.mp3"><span class="panel-link"></span></a>
                          <span class="icon featured-icon icon-play"></span>
                            <h3>Sample level</h3>
                            <p>Each rhythm has four levels playback, speed 1, 2 and 3. The user must play accurately all beats to progress to next level.</p>
                        </section>
                      </div>
                      
                      <div class="4u">
                          <section class="box box-style1">
                            <a target="_blank" href="http://rhythmludus.appspot.com/rhythm_enterer"><span class="panel-link"></span></a>
                            <span class="icon featured-icon icon-edit"></span>
                            <h3>Rhythm enterer</h3>
                            <p>Allows us to create, edit and save rhythms to be reused in the game.</p>
                          </section>
                      </div>
                      
                      <div class="4u">
                        <section class="box box-style1">
                          <a target="_blank" href="https://github.com/mfbx9da4/rhythm_game"><span class="panel-link"></span></a>
                          <span class="icon featured-icon icon-github"></span>
                          <h3>Source code</h3>
                          <p>The working repository.</p>
                        </section>
                      </div>
                    </div>
                  </div>
                  
              </div>
          </div>
{% endblock %}
        





