{% extends "portfolio-base.html" %}

{% block title %}Rhythmludus{% endblock %}

{% block header %}Rhythmludus{% endblock %}

      
{% block portfolio %}
              <div id="info_content" class="12u box-style3 transition"></div>
              <div id="what" class="hide box-style3 transition">
                <h2>What?</h2>
                  <p>
                    The simplest way to describe slacklining is: it is like tight rope walking, however, unlike tight-rope walking the rope is not made of a rigid metal cable but a dynamic peice of webbing. At high tension the webbing becomes elastic and can be used as a thin trampoline.
                  </p>
                  <p>
                    I started slacklining on the Christmas of 2011 in Bilbao, Spain. The first time I ever stepped on a slackline was with Alain Bilbo at Aste Nagusio festival.
                  </p>                  
                  <p>
                    Here is a video of me at Bilbao Exhibition Centre (BEC) during an outdoor sports exhibition.
                  </p>
                  <p>
                    Here is a video of me slacklining outside the Guggenheim in Bilbao.
                  </p>
                  <p>
                    Here is a photo of me slacklining in Tarifa, Spain. comp1, manchester, highline, last comp
                  </p>
                </div>
                <div id="why" class="hide box-style3 transition">
                <h2>Why?</h2>
                  <p>
                     Skyliners video
                  </p>
                </div>
              <div id="links" class="hide box-style3 transition">
                <h2>Links</h2>
                  <div class="5grid 5grid-container">
                    <div class="row">
                      <div class="4u">
                        <section class="box box-style1">
                          <a target="_blank" href="http://rhythmludus.appspot.com/game?song=song_one_track_low.xml&back=file.mp3"><span class="panel-link"></span></a>
                          <span class="icon featured-icon icon-play"></span>
                            <h3>Sample level</h3>
                            <p>
                            </p>
                        </section>
                      </div>
                      
                      <div class="4u">
                          <section class="box box-style1">
                            <a target="_blank" href="http://rhythmludus.appspot.com/rhythm_enterer"><span class="panel-link"></span></a>
                            <span class="icon featured-icon icon-edit"></span>
                            <h3>Rhythm enterer</h3>
                            <p>Allows us to create, edit and save rhythms to be reused in the game.</p>
                          </section>
                      </div>
                      
                      <div class="4u">
                        <section class="box box-style1">
                          <a target="_blank" href="https://github.com/mfbx9da4/rhythm_game"><span class="panel-link"></span></a>
                          <span class="icon featured-icon icon-github"></span>
                          <h3>Source code</h3>
                          <p>The working repository.</p>
                        </section>
                      </div>
                    </div>
                  </div>
                  
              </div>
{% endblock %}
        





