<!DOCTYPE HTML>
<html>
  <head>
    <title>Astrocyte networks</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,600,700" rel="stylesheet" />
    <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->

    <script src="js/jquery.min.js"></script>
    <script src="js/init.js"></script>
    <script src="js/config.js"></script>
    <script src="js/skel.min.js"></script>
    <script src="js/skel-panels.min.js"></script>

    <noscript><link rel="stylesheet" href="style/5grid-noscript.min.css" /><link rel="stylesheet" href="style/style.css" /><link rel="stylesheet" href="style/style-desktop.css" /></noscript>
    <!--[if lte IE 9]><link rel="stylesheet" href="style/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="style/ie8.css" /><![endif]-->
    <!--[if lte IE 7]><link rel="stylesheet" href="style/ie7.css" /><![endif]-->

  </head>
  <body>
  <div class="container">

    <!-- Nav -->
      <nav id="nav">
        <ul>
          <li><a href="/#top">Top</a></li>
          <li><a href="/#work">About me</a></li>
          <li><a href="/#portfolio">Portfolio</a></li>
          <li><a href="/#contact">Contact</a></li>
        </ul>
      </nav>

      <div class="wrapper wrapper-style5 wrapper-first">
        <article id="work" class="5grid container">
          <header>
            <h1>Neuron-astrocyte learning networks.</h1>
          </header>
          <div class="row ">
              <div class="12u">
                <h2>What?</h2>
                  <p>For my final year project I created one of the first ever computational models of a learning neuron-astrocyte network. Contrary to popular belief, neurons are not the only cells in the brain which perform learning and cognitive functions. For decades, artificial intelligence researchers have made computational models of neural networks but failed to acknowledge the role of astrocytes. My work presents a novel model of neuron-astrocyte networks and challenges one of the pioneering neuron-astrocyte network models.</p>
                  <ul class="indent">
                    <li>
                      <p><span class="icon inline-icon icon-file-alt"></span>For a comprehensive review of the current literature on the role of astrocytes in the brain see <a href="/files/lit_review.pdf">this review</a> I have written.</p>
                    </li>
                    <li>
                      <p><span class="icon inline-icon icon-file-alt"></span>To see the full write up of the experiments I performed and full details of the model I have made see <a href="/files/write_up.pdf">this pdf</a>.</p>
                    </li>
                    <li>
                      <p><span class="icon inline-icon icon-github"></span>For the source code of the implementation of my model and the Porto-Pazos model, please find the source code <a href="http://github.com/mfbx9da4/neuron-astrocyte-networks">here on github</a>.</p>
                    </li>
                  </ul>
                <h2>Why?</h2>
                  <p>
                    While on placement in Spain, I was researching the role of astrocytes in Alzheimer's disease. I was fascinated by the fact that their abundance and diversity is proportional to intelligence. At the time I was also curious about artificial intelligence (AI) and was intrigued to see how AI researchers had modelled astrocytes. Suprisingly, few researchers had made computational models of astrocytes, and so my project began. 
                  </p>
                <div class="3u box box-style1">
                  <span class="image "><img src="/images/single_synapse.png" alt="" /></span>
                </div>
                
              </div>
            </div>
        </article>
      </div>
  </div>



  </body>
</html>